
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rubik:wght@300&display=swap');
:root{
  --bg : #24283b;
    --bg_dark : #1e2030;
  --bg_highlight : #292e42;
  --terminal_black : #414868;
 --fg : #c0caf5;
  --fg_dark : #a9b1d6;
  --fg_gutter : #3b4261;
  --dark3 : #545c7e;
  --comment : #565f89;
  --dark5 : #737aa2;
  --blue0 : #3d59a1;
  --blue : #7aa2f7;
  --cyan : #7dcfff;
  --blue : #2ac3de;
  --blue6 : #b4f9f8;
  --magenta : #bb9af7;
  --magenta2 : #ff007c;
  --purple : #9d7cd8;
  --yellow : #e0af68;
  --green : #9ece6a;
  --red : #f7768e;
  --navbar-height : 59px
}
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: var(--blue0);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Rubik', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: var(--bg_dark);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: var(--fg);
}
#main{
      position: relative;
      width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 3px 2px;
    height: 550px;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

    
}
#main::before{
        content: "";
    background: url('../img/background1.jpg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.7;
    /* filter: opacity(40); */

}
#main h1{
    color: whitesmoke;
    text-align: center;
    padding: 7px;
    margin: 6px;

}
#main div img{
    max-height: 300px;
    margin: 30px;
}
#main p{
    padding: 7px;
    margin: 6px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Fira sans';
}
/* Services */
#services{
    display: flex;
    flex-direction: column;
    align-items : center;


}
#services h1{
    font-size: 60px ;
    color: var(--terminal_black) ;
    text-decoration-style: dotted;
}
#unavail img{
    height: 190px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/background2.png') no-repeat center center/cover;

}
#contact-box{
    color: var(--blue6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact h1{
    color: var(--red) ;

}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

.center{
    text-align: center;
}
#aboutcv{
    height: 300px;
    background-image: url('../img/aesthetic.jpg') ;
    display: flex;
    flex-direction: row;
}
#about{
    width: 50%;
    border: 2px solid var(--magenta) ;
    opacity:initial;
    margin: 10px;
    padding: 7px;
    justify-content: center;
}
#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--magenta2);
}
#about p{
    text-align: center;
}
/* #about h1,h2{ */
/*     padding-left: 207px; */
/*     margin: 4px 0px 10px 5px; */
/* } */
/* #about p { */
/*     height: 40%; */
/*     padding: 50px 15px 15px 15px; */
/*       margin: 10px 20px 10px 20px; */
/**/
/*     border: 3px solid var(--terminal_black); */
/* } */
/* #about h1, #about p, #about h2{ */
/*     background-color: var(--magenta); */
/**/
/* } */
#cv{
    margin: 100px 20px 100px 200px;
    background-color:var(--magenta2);
}
#cv h1{
    margin-top: 15px;
}
#cv button{
    padding: 5px 4px 0px 10px;
    margin: 20px 7px 6px 16px;
}
