
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rubik:wght@300&display=swap');
:root{
  --bg : #24283b;
    --bg_dark : #1e2030;
  --bg_highlight : #292e42;
  --terminal_black : #414868;
 --fg : #c0caf5;
  --fg_dark : #a9b1d6;
  --fg_gutter : #3b4261;
  --dark3 : #545c7e;
  --comment : #565f89;
  --dark5 : #737aa2;
  --blue0 : #3d59a1;
  --blue : #7aa2f7;
  --cyan : #7dcfff;
  --blue : #2ac3de;
  --blue6 : #b4f9f8;
  --magenta : #bb9af7;
  --magenta2 : #ff007c;
  --purple : #9d7cd8;
  --yellow : #e0af68;
  --green : #9ece6a;
  --red : #f7768e;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cyan);
    font-style: 'Hack' ;
}

.sidebar{
    background-color: var(--yellow);
    width: 10vw;
    font-family: 'Inter', sans-serif;
}
.sidebar nav{
    padding: 7px;
}
.sidebar nav li {
    list-style: none;
    font-size: 10px;
}

.container{
    display: flex;
}
